

.edit-container p {
    cursor: pointer;
    width: 60px;
}

.edit-container p:nth-child(1) {
    color: red;
}

.edit-container p:nth-child(2) {
    color: gray;
}

.edit-container p:nth-child(3) {
    color: green;
}


.mart-ctr input {
    display: none;
}